{% load allauth %}
<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
  {% if attrs.form %}form="{{ attrs.form }}"{% endif %}
  {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
  {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
  {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
  {% if attrs.type %}type="{{ attrs.type }}"{% endif %}
  class="inline-flex items-center justify-center w-full px-4 py-2 mt-2 bg-blue-600 text-white text-sm font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition cursor-pointer">
  {% slot %}{% endslot %}
</{% if attrs.href %}a{% else %}button{% endif %}>
