[tool.ruff]
line-length = 100
extend-include = ["*.ipynb"]

[tool.ruff.lint]
# See https://docs.astral.sh/ruff/rules
extend-select = [
    # eradicate (ERA)
    "ERA",   # commented out code
    # FastAPI (FAST)
    "FAST",
    # flake8-annotations (ANN)
    # "ANN",
    # flake8-async (ASYNC)
    # "ASYNC",
    # flake8-bandit (S)
    "S",
    # flake8-blind-except (BLE)
    # "BLE",
    # flake8-boolean-trap (FBT)
    # "FBT",
    # flake8-bugbear (B)
    "B",
    # flake8-builtins (A)
    "A",
    # flake8-commas (COM)
    # "COM",
    # flake8-comprehensions (C4)
    "C4",
    # flake8-copyright (CPY)
    # "CPY",
    # flake8-datetimez (DTZ)
    # "DTZ",
    # flake8-debugger (T10)
    "T10",
    # flake8-django (DJ)
    "DJ",
    # flake8-errmsg (EM)
    # "EM",
    # flake8-executable (EXE)
    "EXE",
    # flake8-fixme (FIX)
    # "FIX",
    # flake8-future-annotations (FA)
    "FA",
    # flake8-gettext (INT)
    # "INT",   # (framework-specific, not used in this project)
    # flake8-implicit-str-concat (ISC)
    "ISC",
    # flake8-import-conventions (ICN)
    # "ICN",
    # flake8-logging (LOG)
    "LOG",
    # flake8-logging-format (G)
    # "G",
    # flake8-no-pep420 (INP)
    "INP",
    # flake8-pie (PIE)
    "PIE",
    # flake8-print (T20)
    "T20",
    # flake8-pyi (PYI)
    # "PYI",
    # flake8-pytest-style (PT)
    "PT",
    # flake8-quotes (Q)
    "Q",
    # flake8-raise (RSE)
    "RSE",
    # flake8-return (RET)
    "RET",
    # flake8-self (SLF)
    # "SLF",
    # flake8-simplify (SIM)
    "SIM",
    # flake8-slots (SLOT)
    "SLOT",
    # flake8-tidy-imports (TID)
    # "TID",
    # flake8-todos (TD)
    # "TD",
    # flake8-type-checking (TC)
    "TC",
    # flake8-unused-arguments (ARG)
    # "ARG",
    # flake8-use-pathlib (PTH)
    "PTH",
    # flynt (FLY)
    "FLY",
    # isort (I)
    "I",
    # mccabe (C90)
    "C90",
    # NumPy-specific rules (NPY)
    "NPY",
    # pandas-vet (PD)
    "PD",
    # pep8-naming (N)
    "N",
    # Perflint (PERF)
    "PERF",
    # pycodestyle (E, W)
    "E", # pycodestyle errors
    "W", # pycodestyle warnings
    # pydoclint (DOC)
    "DOC",
    # pydocstyle (D)
    "D",
    # Pyflakes (F)
    "F",
    # pygrep-hooks (PGH)
    "PGH",
    # Pylint (PL)
    # "PL",
    # pyupgrade (UP)
    "UP",
    # refurb (FURB)
    "FURB",
    # Ruff-specific rules (RUF)
    # "RUF",
    # tryceratops (TRY)
    # "TRY",
]
ignore = [
]

# See https://docs.astral.sh/ruff/settings/#per-file-ignores
[tool.ruff.lint.per-file-ignores]
# Ignore commented out code in Sphinx configuration file
"docs/source/conf.py" = ["ERA001"]

[tool.ruff.lint.pydocstyle]
convention = "pep257"

[tool.ruff.lint.isort]
relative-imports-order = "closest-to-furthest"
known-third-party = [
    "tqdm",
]
known-first-party = [
    "dalia",
    "tests",
]

[tool.ruff.format]
# see https://docs.astral.sh/ruff/settings/#format_docstring-code-format
docstring-code-format = true
